<!-- RWD待補 -->
<nav class="container col-12 d-flex align-items-center justify-content-between py-4">
   <div class="logo d-flex align-items-center">
    <img src="../images/logo.png" alt="7Tao活動訂票網logo">
    <div class="brand-name ms-2 me-5"><h1 class="d-inline align-middle">7TAO</h1><p class="d-inline align-middle">活動訂票網</p></div>
    <div class="search d-flex">
            <input type="text" class="form-control border-primary" id="exampleFormControlInput1" placeholder="活動概觀">
            <label for="exampleFormControlInput1" class="form-label d-flex align-items-center"><i class="icofont-search-1 text-white bg-primary align-middle p-3"></i></label> 
    </div>
   </div> 
   <div class="function">
    <a href="#" class="ms-4"><i class="icofont-ui-file me-1"></i>REGISTER</a>
    <a href="#" class="ms-4"><i class="icofont-ui-user me-1"></i>LOGIN</a>
   </div>
</nav>
<div class="border-bottom border-primary border-3"></div>