<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7Tao活動訂票網-首頁</title>
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <%- include('./layout/nav'); -%>
    <!-- header -->
    <header class="container mx-auto my-5 d-flex justify-content-between flex-column">
      <div class="date text-white mt-6 ms-5"><h2>19 MAY 2023</h2></div>
      <div class="pagearrow d-flex justify-content-between">
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.7077 3.79118C22.8008 3.88407 22.8747 3.99442 22.9251 4.11591C22.9755 4.2374 23.0014 4.36764 23.0014 4.49918C23.0014 4.63071 22.9755 4.76096 22.9251 4.88245C22.8747 5.00394 22.8008 5.11429 22.7077 5.20718L11.4137 16.4992L22.7077 27.7912C22.8954 27.979 23.0009 28.2336 23.0009 28.4992C23.0009 28.7647 22.8954 29.0194 22.7077 29.2072C22.5199 29.395 22.2652 29.5004 21.9997 29.5004C21.7341 29.5004 21.4794 29.395 21.2917 29.2072L9.29165 17.2072C9.19852 17.1143 9.12464 17.0039 9.07423 16.8824C9.02381 16.761 8.99786 16.6307 8.99786 16.4992C8.99786 16.3676 9.02381 16.2374 9.07423 16.1159C9.12464 15.9944 9.19852 15.8841 9.29165 15.7912L21.2917 3.79118C21.3845 3.69805 21.4949 3.62417 21.6164 3.57375C21.7379 3.52334 21.8681 3.49739 21.9997 3.49739C22.1312 3.49739 22.2614 3.52334 22.3829 3.57375C22.5044 3.62417 22.6148 3.69805 22.7077 3.79118Z" fill="white"/>
        </svg></a>
        <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.29237 29.2088C9.19924 29.1159 9.12535 29.0056 9.07494 28.8841C9.02453 28.7626 8.99858 28.6323 8.99858 28.5008C8.99858 28.3693 9.02453 28.239 9.07494 28.1175C9.12535 27.996 9.19924 27.8857 9.29237 27.7928L20.5864 16.5008L9.29236 5.2088C9.10459 5.02102 8.9991 4.76635 8.9991 4.5008C8.9991 4.23525 9.10459 3.98057 9.29236 3.7928C9.48014 3.60502 9.73481 3.49953 10.0004 3.49953C10.2659 3.49953 10.5206 3.60502 10.7084 3.7928L22.7084 15.7928C22.8015 15.8857 22.8754 15.996 22.9258 16.1175C22.9762 16.239 23.0022 16.3693 23.0022 16.5008C23.0022 16.6323 22.9762 16.7626 22.9258 16.8841C22.8754 17.0056 22.8015 17.1159 22.7084 17.2088L10.7084 29.2088C10.6155 29.3019 10.5051 29.3758 10.3836 29.4262C10.2621 29.4766 10.1319 29.5026 10.0004 29.5026C9.86883 29.5026 9.73859 29.4766 9.6171 29.4262C9.49561 29.3758 9.38526 29.3019 9.29237 29.2088Z" fill="white"/>
        </svg></a>
      </div>
      <div class="mx-auto text-white text-center mb-3">
        <h4>隔牆有耳-沒有草東的派對</h4>
        <p>你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
          帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
      </div>
    </header>
    <!-- explore -->
    <div class="explore d-flex container gap-4">
      <div class="d-flex col flex-column align-items-center py-4 border border-primary border-3"><img src="../images/cate01.svg" alt="演出圖示"><h4>演出</h4></div>
      <div class="d-flex col flex-column align-items-center py-4 border border-primary border-3"><img src="../images/cate02.svg" alt="聯誼圖示"><h4>聯誼</h4></div>
      <div class="d-flex col flex-column align-items-center py-4 border border-primary border-3"><img src="../images/cate03.svg" alt="展覽圖示"><h4>展覽</h4></div>
      <div class="d-flex col flex-column align-items-center py-4 border border-primary border-3"><img src="../images/cate04.svg" alt="美食圖示"><h4>美食</h4></div>
      <div class="d-flex col flex-column align-items-center py-4 border border-primary border-3"><img src="../images/cate05.svg" alt="戶外圖示"><h4>戶外</h4></div>
      <div class="d-flex col flex-column align-items-center text-center border border-primary border-3"><a href="./event.html"><h2 class="m-0 p-4">探索<br>更多</h2></a></div>
    </div>
    <!-- event -->
    <div class="event container d-flex justify-content-between align-items-center py-4 my-5 px-4 border border-primary border-4"><h2 class="text-center p-0 m-0">RECENT</h2><h3>近期活動</h3></div>
    <!-- events list -->
    <div class="event-card container mb-3">
      <div class="row my-4 mb-4">
        <div class=" col-md-6 col-lg-4">
          <h2 class="border-bottom border-dark border-3">30 MAY 2023</h2>
          <img src="../images/event/01.jpg" alt="邪典電影派對——房間">
          <h3 class="fs-4 fw-bold">邪典電影派對——房間</h3>
          <p class="lh-base pb-3 border-bottom border-2 border-dark mb-0">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」—房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
          <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-dark">
            <a href="#" class="d-flex align-items-center hover-text-decoration"><img src="../images/sparkler.png" class="btn-left img-fluid" alt="社群活動">社群活動</a>
            <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
            <!--    modal      -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center rounded-0">
                  <div class="modal-header border-bottom border-3 border-dark d-flex justify-content-center">
                    <h4 class="modal-title fs-4 fw-bold mx-auto" id="exampleModalLabel">立刻成為7TAO會員</h4>
                    <button type="button" class="btn-close ms-0 text-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body py-5">
                    <p>
                      立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                      您也可以先報名活動，日後再註冊帳號，<br>
                      系統會在認證您的Email後，協助您找回舊的訂單。
                    </p>
                    <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0">立即成為會員</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <h2 class="border-bottom border-dark border-3">23 MAY 2023</h2>
          <img src="../images/event/02.jpg" alt="怪舞俱樂部">
          <h3 class="fs-4 fw-bold">怪舞俱樂部</h3>
          <p class="lh-base pb-3 border-bottom border-2 border-dark mb-0">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
          <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-dark">
            <a href="#" class="d-flex align-items-center hover-text-decoration"><img src="../images/sparkler.png" alt="演出" class="btn-left img-fluid">演出</a>
            <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="#exampleModal">檢視活動 &raquo;</a>
            <!--    modal      -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center rounded-0">
                  <div class="modal-header border-bottom border-3 border-dark d-flex justify-content-center">
                    <h4 class="modal-title fs-4 fw-bold mx-auto" id="exampleModalLabel">立刻成為7TAO會員</h4>
                    <button type="button" class="btn-close ms-0 text-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body py-5">
                    <p>
                      立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                      您也可以先報名活動，日後再註冊帳號，<br>
                      系統會在認證您的Email後，協助您找回舊的訂單。
                    </p>
                    <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0">立即成為會員</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <h2 class="border-bottom border-dark border-3">19 MAY 2023</h2>
          <img src="../images/event/03.jpg" alt="哈利波特馬拉松">
          <h3 class="fs-4 fw-bold">哈利波特馬拉松</h3>
          <p class="lh-base pb-3 border-bottom border-2 border-dark mb-0">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
          <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-dark">
            <a href="#" class="d-flex align-items-center hover-text-decoration"><img src="../images/sparkler.png" class="btn-left img-fluid" alt="聯誼">聯誼</a>
            <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
            <!--    modal      -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center rounded-0">
                  <div class="modal-header border-bottom border-3 border-dark d-flex justify-content-center">
                    <h4 class="modal-title fs-4 fw-bold mx-auto" id="exampleModalLabel">立刻成為7TAO會員</h4>
                    <button type="button" class="btn-close ms-0 text-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body py-5">
                    <p>
                      立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                      您也可以先報名活動，日後再註冊帳號，<br>
                      系統會在認證您的Email後，協助您找回舊的訂單。
                    </p>
                    <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0">立即成為會員</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <h2 class="border-bottom border-dark border-3">12 JUNE 2023</h2>
          <img src="../images/event/04.jpg" alt="邪皮卡丘排球大賽">
          <h3 class="fs-4 fw-bold">皮卡丘排球大賽</h3>
          <p class="lh-base pb-3 border-bottom border-2 border-dark mb-0">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
          <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-dark">
            <a href="#" class="d-flex align-items-center hover-text-decoration"><img src="../images/sparkler.png" class="btn-left img-fluid" alt="遊戲競賽">遊戲競賽</a>
            <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
            <!--    modal      -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center rounded-0">
                  <div class="modal-header border-bottom border-3 border-dark d-flex justify-content-center">
                    <h4 class="modal-title fs-4 fw-bold mx-auto" id="exampleModalLabel">立刻成為7TAO會員</h4>
                    <button type="button" class="btn-close ms-0 text-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body py-5">
                    <p>
                      立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                      您也可以先報名活動，日後再註冊帳號，<br>
                      系統會在認證您的Email後，協助您找回舊的訂單。
                    </p>
                    <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0">立即成為會員</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <h2 class="border-bottom border-dark border-3">25 JUNE 2023</h2>
          <img src="../images/event/05.jpg" alt="酒精路跑">
          <h3 class="fs-4 fw-bold">酒精路跑</h3>
          <p class="lh-base pb-3 border-bottom border-2 border-dark mb-0">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
          </p>
          <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-dark">
            <a href="#" class="d-flex align-items-center hover-text-decoration"><img src="../images/sparkler.png" class="btn-left img-fluid" alt="社群活動">社群活動</a>
            <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
            <!--    modal      -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center rounded-0">
                  <div class="modal-header border-bottom border-3 border-dark d-flex justify-content-center">
                    <h4 class="modal-title fs-4 fw-bold mx-auto" id="exampleModalLabel">立刻成為7TAO會員</h4>
                    <button type="button" class="btn-close ms-0 text-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body py-5">
                    <p>
                      立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                      您也可以先報名活動，日後再註冊帳號，<br>
                      系統會在認證您的Email後，協助您找回舊的訂單。
                    </p>
                    <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0">立即成為會員</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <h2 class="border-bottom border-dark border-3">9 JULY 2023</h2>
          <img src="../images/event/06.jpg" alt="展覽——我的房間">
          <h3 class="fs-4 fw-bold">展覽——我的房間</h3>
          <p class="lh-base pb-3 border-bottom border-2 border-dark mb-0">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
          <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-dark">
            <a href="#" class="d-flex align-items-center hover-text-decoration"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true" class="btn-left img-fluid" alt="展覽">展覽</a>
            <a href="#" class="d-flex align-items-center hover-bg-yellow" data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 &raquo;</a>
            <!--    modal      -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content text-center rounded-0">
                  <div class="modal-header border-bottom border-3 border-dark d-flex justify-content-center">
                    <h4 class="modal-title fs-4 fw-bold mx-auto" id="exampleModalLabel">立刻成為7TAO會員</h4>
                    <button type="button" class="btn-close ms-0 text-dark" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body py-5">
                    <p>
                      立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                      您也可以先報名活動，日後再註冊帳號，<br>
                      系統會在認證您的Email後，協助您找回舊的訂單。
                    </p>
                    <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0">立即成為會員</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- online -->
    <div class="event container d-flex justify-content-between align-items-center py-4 my-5 px-4 border border-primary border-4"><h2 class="text-center p-0 m-0">ONLINE</h2><h3>線上活動</h3></div>
    <!-- online description -->
    <div class="online-des container d-flex gap-4 mb-6">
      <div>
        <img src="../images/event/online.jpg" alt="chatGPT">
      </div>
      <div class="col-6">
        <h2>切特居批踢</h2>
        <div class="list d-flex gap-3">
          <p class="mb-0 border-top border-end border-bottom border-primary online-p-border py-1 px-3">競賽</p>
          <p class="mb-0 border-top border-end border-bottom border-primary online-p-border py-1 px-3">科技</p>
          <p class="mb-0 border-top border-end border-bottom border-primary online-p-border py-1 px-3">有趣</p>
        </div>
        <p class="py-3 m-0">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>
          這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>
          該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
        <a href="#" class="bg-primary text-white align-middle text-center p-2">查看活動詳情<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="img-fluid">
          <path d="M15.768 9.44006L11.704 5.37605C11.394 5.06605 10.892 5.06605 10.582 5.37605L10.232 5.72605C9.92201 6.03605 9.92201 6.53805 10.232 6.84805L12.826 9.44206C12.982 9.59806 13.058 9.80006 13.058 10.0021C13.058 10.2041 12.98 10.4081 12.826 10.5621L10.232 13.1561C9.92201 13.4661 9.92201 13.9681 10.232 14.2781L10.582 14.6281C10.892 14.9341 11.394 14.9341 11.704 14.6241L15.768 10.5601C15.924 10.4041 16 10.2021 16 10.0001C16 9.79806 15.922 9.59406 15.768 9.44006ZM9.76801 9.44006L5.70401 5.37605C5.39401 5.06605 4.89201 5.06605 4.58201 5.37605L4.23201 5.72605C3.92201 6.03605 3.92201 6.53805 4.23201 6.84805L6.82601 9.44206C6.98201 9.59806 7.05801 9.80006 7.05801 10.0021C7.05801 10.2041 6.98001 10.4081 6.82601 10.5621L4.23201 13.1561C3.92201 13.4661 3.92201 13.9681 4.23201 14.2781L4.58201 14.6281C4.89201 14.9341 5.39401 14.9341 5.70401 14.6241L9.76801 10.5601C9.92401 10.4041 10 10.2021 10 10.0001C10 9.79806 9.92201 9.59406 9.76801 9.44006Z" fill="white"/>
        </svg></a>
      </div>
    </div>
    <!-- album line -->
    <div class="album-line bg-primary swiper mySwiper">
      <div class="text-secondary py-4 swiper-wrapper">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
      </div>
    </div>
    <!-- albums -->
    <div class="container pt-6">
      <ul class="row mt-60 list-unstyled">
        <li class="col-md-6 col-lg-3 mb-6">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 translate-middle fs-6 bg-white px-3 py-2 fw-bold h2-transform">社群活動</h2>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/01.jpg?raw=true" class="img-fluid w-100" alt="社群活動">
            <p class="pt-3">無聲派對-閉閉嘴dancing</p>
          </div>
        </li>
        <li class="col-md-6 col-lg-3 mb-6">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">藝文活動</h2>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/02.jpg?raw=true" class="img-fluid w-100" alt="藝文活動">
            <p class="pt-3">搶救老店大作戰</p>
          </div>
        </li>
        <li class="col-md-6 col-lg-3 mb-6">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">自我覺察</h2>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/03.jpg?raw=true" class="img-fluid w-100" alt="自我覺察">
            <p class="pt-3">內觀修行-部落篇</p>
          </div>
        </li>
        <li class="col-md-6 col-lg-3 mb-6">
          <div class="item border border-2 border-dark p-3 pb-5 position-relative">
            <h2 class="position-absolute top-0 start-50 fs-6 bg-white px-3 py-2 fw-bold h2-transform">聯誼活動</h2>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/04.jpg?raw=true" class="img-fluid w-100" alt="聯誼活動">
            <p class="pt-3">賞櫻野餐</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- album line -->
    <div class="album-line bg-primary swiper mySwiper">
      <div class="text-secondary py-4 swiper-wrapper">
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
        <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
      </div>
    </div>
    <!-- contact -->
    <table class="follow container table table-bordered border-primary border-2 my-6">
      <tbody>
        <tr>
          <td><h2 class="p-0 m-0 py-3 px-4">#FOLLOW US</h2></td>
          <td><h2 class="p-0 m-0 py-3 px-4">#SUBSCRIBE US</h2></td>
        </tr>
        <tr>
          <td class="p-4"><p class="mb-4">想第一時間獲得新奇有趣的活動資訊？<br>
            追蹤我們的社群吧！<br>
            也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
            <div class="info">
              <div class="d-flex align-items-center mb-4"><i class="icofont-ui-email bg-primary text-white p-2"></i><p class="m-0 ms-3">7tao.event@gmail.com</p></div>
              <div class="d-flex align-items-center mb-4"><i class="icofont-phone bg-primary text-white p-2"></i><p class="m-0 ms-3">09123123123</p></div>
              <div class="d-flex align-items-center mb-4"><i class="icofont-facebook bg-primary text-white p-2"></i><p class="m-0 ms-3">7TAO七逃</p></div>
            </div></td>
          <td class="p-0"><p class="p-4 m-0">訂閱電子報送折價券！<br>
            定期精選文章資訊及最新優惠資訊，<br>
            還不通通給我訂閱起來？</p>
            <div class="mb-3 p-3">
          <input type="email" placeholder="輸入Email" class="border border-primary bg-transparent py-3 fs-6 ps-4 mb-5">
        </div>
        <a href="#" class="btn btn-primary d-flex align-items-center justify-content-center py-3 mb-0"><p class="m-0">確認訂位</p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="icon-svg">
          <path d="M15.768 9.44006L11.704 5.37605C11.394 5.06605 10.892 5.06605 10.582 5.37605L10.232 5.72605C9.92201 6.03605 9.92201 6.53805 10.232 6.84805L12.826 9.44206C12.982 9.59806 13.058 9.80006 13.058 10.0021C13.058 10.2041 12.98 10.4081 12.826 10.5621L10.232 13.1561C9.92201 13.4661 9.92201 13.9681 10.232 14.2781L10.582 14.6281C10.892 14.9341 11.394 14.9341 11.704 14.6241L15.768 10.5601C15.924 10.4041 16 10.2021 16 10.0001C16 9.79806 15.922 9.59406 15.768 9.44006ZM9.76801 9.44006L5.70401 5.37605C5.39401 5.06605 4.89201 5.06605 4.58201 5.37605L4.23201 5.72605C3.92201 6.03605 3.92201 6.53805 4.23201 6.84805L6.82601 9.44206C6.98201 9.59806 7.05801 9.80006 7.05801 10.0021C7.05801 10.2041 6.98001 10.4081 6.82601 10.5621L4.23201 13.1561C3.92201 13.4661 3.92201 13.9681 4.23201 14.2781L4.58201 14.6281C4.89201 14.9341 5.39401 14.9341 5.70401 14.6241L9.76801 10.5601C9.92401 10.4041 10 10.2021 10 10.0001C10 9.79806 9.92201 9.59406 9.76801 9.44006Z" fill="white"/>
        </svg></a>
        </td>
        </tr>
      </tbody>
    </table>

    
    <!-- call-to-action -->
    <div class="callToAction">
      <div class="text-center py-6 border-top border-bottom border-primary border-3">
        <h3>此刻打盹，你將做夢；此刻學習，你將圓夢</h3>
        <h4>——我也不知道誰說的</h4>
      </div>
    </div>
    <!-- footer -->
    <%- include('./layout/footer'); -%>
    <%- include('./layout/script'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
